*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
div{
    height: 300px;
    width: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.575);
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffca68;
}
div:before{
    content: "";
    background-image: conic-gradient(#ff4d4d 20deg,transparent 120deg);
    height: 150%;
    width: 150%;
    position: absolute;
    left: -25%;
    top: -25%;
    animation: rotate 2s infinite linear;
}
@keyframes rotate{
    100%{
        transform: rotate(-360deg);
    }
}
div:after{
    content: "AMAZING";
    height: 94%;
    width: 94%;
    position: absolute;
    background-color: #ffeab1;
    border-radius: 5px;
    top: 3%;
    left: 3%;
    color: #ff4d4d;
    display: grid;
    place-items: center;
    font-size: 45px;
    letter-spacing: 6px;
}